<div class="main-page-wrapper">
  <div class="banner" [ngClass]="{ 'hide-block': !isShowed }" *ngIf="bannerIsShowed()">
    <app-banner></app-banner>
  </div>
  <div class="banner-toggle-container">
    <div class="banner-toggle"  (click)="visibilityToggle()" *ngIf="bannerIsShowed()">
      {{ isShowed ? 'Close this block' : 'Open this block' }}
      <span class="toggle-arrow" [ngClass]="{ 'rotate-arrow': !isShowed }"></span>
    </div>
  </div>
  
  <div class="main-page-container">
    <div class="row av-dev">
      <app-available-developers></app-available-developers>
    </div>
    <div class="row">
      <app-ad-calculation></app-ad-calculation>
    </div>
    <div class="row">
      <app-benefits></app-benefits>
    </div>
    <div class="row">
      <app-partners></app-partners>
    </div>
  </div>
</div>
