<div class="calc-wrapper">
  <div class="calc-container">
    <div class="row">
      <div class="calc-content">
        <h2 class="calc-heading">Lorem ipsum dolor</h2>
        <div class="text-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Consequuntur corrupti ab totam dolorum id placeat asperiores dolorem sapiente laudantium?
        </div>
        <button mat-flat-button class="elipse-button" [routerLink]="['/calculate']">Calculate my project</button>
      </div>
      <div class="calc-image">
        <img class="big-img" src="../../../assets/calc-img.svg" alt="calculation">
        <img class="mini-img" src="../../../assets/calc-mini.png" alt="calculation">
      </div>
    </div>
  </div>
</div>
