<div class="details-wrapper details-wrapper_heading" *ngIf="currentDev">
  <div class="details-container details-container_heading">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="heading-container">
      <div class="heading-info">
        <div class="details-name">
          <h2 class="name">{{ currentDev.username }}</h2>
        </div>
        <div class="position">
          {{ currentDev.position }}
        </div>
        <div class="location">
          <fa-icon [icon]="faLocationArrow" style="font-size: 30px; margin-right: 10px"></fa-icon>
          {{ currentDev.location }}
        </div>
      </div>
      <div class="photo">
        <img src="" alt="">
      </div>
    </div>
  </div>
  <button mat-flat-button class="questions-button">
    <fa-icon [icon]="faComment" style="font-size: 30px; margin-right: 10px"></fa-icon>
    <span class="btn-text ">Questions? Contac us!</span>
  </button>
</div>
<div class="details-wrapper details-wrapper_content" *ngIf="currentDev">
  <div class="details-container details-container_content">
    <div class="left-block">
      <div class="experience">
        <div class="ex-heading">
          Experience in years:
        </div>
        <div class="ex-count">
          {{ currentDev.experience }} year{{ currentDev.experience > 1 ? 's' : '' }} of experience
        </div>
      </div>
      <div class="specialization">
        <div class="ex-heading">
          Specialization:
        </div>
        <div class="ex-count">
          {{ currentDev.specialization }}
        </div>
      </div>
      <div class="tech-skills">
        <div class="ex-heading">
          Technical skills:
        </div>
        <ul class="skills-list">
          <li class="skill-item" *ngFor="let skill of currentDev.skills">{{ skill }}</li>
        </ul>
      </div>
    </div>
    <div class="right-block">

    </div>
  </div>
</div>
<div class="details-wrapper details-wrapper_other-devs">
  <div class="details-container details-container_other-devs">
    <div class="row searching-results-content">
      <div class="col-6 results-count">
        Other developers
      </div>
      <div class="col-6 see-more-link" [routerLink]="['/developers']">
        See more &#10142;
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="dev-card-list">
          <div class="dev-card" *ngFor="let dev of showedCards">
            <h3 class="card-heading">{{ dev.username }}</h3>
            <div class="position">{{ dev.position }}</div>
            <div class="skills">Specialization:</div>
            <div class="skills-text">
              {{ dev.specialization }}
            </div>
            <div class="skills">Email:</div>
            <div class="skills-text">
              {{ dev.email }}
            </div>
            <mat-checkbox>
              <span  class="skills">I Agree BeStaff Terms and Private Policy</span>
            </mat-checkbox>
            <button mat-raised-button class="elipse-button" (click)="navigateToCV()">Open CV</button>
            <!-- <b>{{ dev.id }}</b> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="details-wrapper details-wrapper_hiring-form">
  <div class="details-container details-container_hiring-form">

  </div>
</div>
  
  
    

