<div class="not-found-wrapper">
  <div class="not-found-container">
    <div class="center-block">
      <div class="left-block">
        <h2 class="heading">
          Oops! The page you are looking for could not be found.
        </h2>
        <div class="text-content">
          Try using the website navigation to find the information you are interested in
        </div>
        <div class="go-home-btn">
          <button mat-raised-button class="elipse-button" [routerLink]="['/']">Go to homepage</button>
        </div>
        <div class="bottom-or">
          or Feel free to <a [routerLink]="['/contacts']">contact us</a>
        </div>
      </div>
      <div class="right-block">
        <img src="../../../../assets/404.png" alt="">
      </div>
    </div>
  </div>
</div>