<div class="footer-wrapper">
  <div class="row footer-container">
    <div class="col-4">
      <h3>Follow us</h3>
      <app-socials></app-socials>
    </div>
    <div class="col-8">
      <div class="row text-cols">
          <div class="col-3">
            <h3>About</h3>
            <ul class="bootom-item-list">
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Services</h3>
            <ul class="bootom-item-list">
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Developers</h3>
            <ul class="bootom-item-list">
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
            </ul>
          </div>
          <div class="col-3">
            <h3>Contacts</h3>
            <ul class="bootom-item-list">
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
              <li class="bottom-item">Lorem ipsum</li>
            </ul>
          </div>
        </div>
      </div>

  </div>
  <hr>
  <div class="footer-bottom">
    <div class="payments">
      <app-payments></app-payments>
    </div>
    <div class="rights">
      <p class="rights-text"> &copy; {{ currentYear }} BeStaff. All Rights Reserved</p>
    </div>
  </div>
  <button mat-flat-button class="questions-button" style="display: none">
    <fa-icon [icon]="faComment" style="font-size: 30px; margin-right: 10px"></fa-icon>
    <span class="btn-text ">Questions? Contac us!</span>
  </button>
</div>


