<div class="social-wrapper">
  <div class="social-container">
    <div class="social-item">
      <fa-icon [icon]="faInstagram" style="border: 1px solid black;
                                            border-radius: 7px;
                                            width: 23px;
                                            height: 23px;
                                            padding: 0 2px 0px 2px;">
      </fa-icon>
    </div>
    <div class="social-item">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
    <div class="social-item">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>
    <div class="social-item">
      <fa-icon [icon]="faGoogle"></fa-icon>
    </div>
  </div>
</div>
