@import 'src/styles/variables';

.social-wrapper {
  width: 100%;
}

.social-container {
  display: inline-flex;
}

.social-item {
  font-size: 25px;
  color: $header-bg-color;
  background-color: $header-font-color;
  width: 36px;
  height: 36px;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}