@import 'src/styles/variables';
@import 'src/styles/mixins';

.about-page-wrapper {
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to bottom, #D3E8F8 0%, #FFFFFF 100%), url();
}

.bg-color {
  width: 100%;
  background-color: #F6FBFF;
}

.about-page-container {
  width: 100%;
}

.centered {
  max-width: 1200px;
  margin: 0 auto;
}

.av-dev {
  background-color: transparent;
}

.banner-bg {
  max-width: 1200px;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}


.banner {
  height: 850px;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to top, transparent,transparent, transparent, transparent, transparent, #F1F9FF22, #F1F9FFff),
                    linear-gradient(to bottom, transparent, transparent, transparent, #F1F9FFdd, #F1F9FFee, #F1F9FFff, #F1F9FFff),
                    url('../../../../assets/about-banner-bg.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: $about-banner-bg;
  transition: all .2s ease;
  color: $header-font-color;

  @include respond-to($media_large) {
    height: 530px;
    background-image: url('../../../../assets/about-banner-bg.png');
  }
}

.hide-block {
  height: 0;
  transform: scaleY(0);
}

.toggle-arrow {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 9px;
  height: 9px;
  transform: rotate(135deg);
  border-bottom: 2px solid #a8adbd;
  border-left: 2px solid #a8adbd;
  transition: transform 0.5 ease-in-out;
}

.rotate-arrow {
  transform: rotate(315deg);
  top: 13px;
  right: 20px;
}

.banner-toggle {
  position: absolute;

  &-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 39px;
  border-radius: 25px;
  background-color: white;
  vertical-align: middle;
  color: $header-bg-color;
  cursor: pointer;
  margin: 0 auto;
}

.banner-content {
  max-width: 400px;
  padding: 430px 10px;

  @include respond-to($media_large) {
    padding: 0;
  }
}

.about-banner {
  color: $header-bg-color;
  position: relative;
}

.page-name {
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  
  @include respond-to-less-than($media-iphone) {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
}

.breadcrumbs {
  width: 100%;
}