<div class="about-page-wrapper">
  <div class="about-page-container">
    <div class="ban-cont">
      <div class="banner" [ngClass]="{ 'hide-block': !isShowed }" *ngIf="bannerIsShowed()">
        <div class="about-banner centered">
          <div class="banner-bg">
            <div class="breadcrumbs">
              <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div class="banner-content">
              <h1 class="page-name">
                Page Name
              </h1>
              <div class="banner-page-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda itaque ipsa commodi nihil tempora ratione, perspiciatis deleniti harum molestias suscipit. Minima eum tempora placeat eos blanditiis. Dolores quam, doloribus corporis quasi deleniti distinctio doloremque quia? Maxime nisi suscipit architecto eum soluta! Itaque commodi ipsam deleniti dolor eveniet ut excepturi sint?
              </div>
            </div>
            <div class="banner-img">
              <!-- <img src="../../../../assets/about-banner-bg.png"> -->
            </div>
          </div>
        </div>
      </div>
<!--       <div class="banner-toggle-container">
        <div class="banner-toggle"  (click)="visibilityToggle()" *ngIf="bannerIsShowed()">
          {{ isShowed ? 'Close this block' : 'Open this block' }}
          <span class="toggle-arrow" [ngClass]="{ 'rotate-arrow': !isShowed }"></span>
        </div>
      </div> -->
    </div>
    <div class="row av-dev centered">
      <app-center-table></app-center-table>
    </div>
    <div class="row av-dev" hidden>
      <app-available-developers></app-available-developers>
    </div>
    <div class="row">
      <app-benefits></app-benefits>
    </div>
    <div class="bg-color">
      <div class="row">
        <app-partners></app-partners>
      </div>
    </div>  
  </div>
</div>