
<div class="partners-wrapper">
  <div class="partners-container">
    <div class="partners" >
      <div class="partners-item" *ngFor="let item of currentItems">
        <img src="{{ item.src }}" alt="" *ngIf="item && item.src">
      </div>
    </div>
  </div>
  <div class="slider-btns">
    <mat-radio-group class="radio-group" [formControl]="radioItem" (change)="change()">
      <mat-radio-button [value]="+item" *ngFor="let item of radioItemsList" class="radio-item" [checked]="+radioItem.value === +item"></mat-radio-button>
    </mat-radio-group>
  </div>
</div>