<div class="av-dev-wrapper">
  <div class="row heading">
    <div class="col-6 heading-col">
      <h2>
        Available developers
      </h2>
    </div>
    <div class="col-6 see-more-link" [routerLink]="['/developers']">
      See more &#10142;
    </div>
  </div>
  <div class="row">
    <mat-progress-bar mode="indeterminate" style="top: calc(100% - 5px)" *ngIf="!devs || !tabs.length"></mat-progress-bar>
    <div class="col-12 skills-block">
        <mat-tab-group *ngIf="devs && tabs.length">
          <mat-tab *ngFor="let tab of tabs; let idx = index">
            <ng-template mat-tab-label>{{tab.label}}</ng-template>
            <div class="dev-card-list">
              <div class="dev-card" *ngFor="let dev of tab.devs">
                <h3 class="card-heading">{{ dev.name }}</h3>
                <div class="position">{{ dev.position }}</div>
                <div class="skills">Specialization:</div>
                <div class="skills-text">
                  {{ dev.specialty }}
                </div>
                <div class="skills">Experience:</div>
                <div class="skills-text">
                  {{ dev.experienceYears }}
                </div>
                <button mat-raised-button class="elipse-button" (click)="navigateToCV(dev)">Open CV</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</div>


