<mat-progress-bar mode="indeterminate" style="top: calc(100% - 5px)" *ngIf="!isDevLoaded"></mat-progress-bar>
<div class="details-wrapper details-wrapper_heading" *ngIf="isDevLoaded && currentDev">
  <div class="details-container details-container_heading">
    <app-breadcrumbs [newCurrentUser]="currentDev"></app-breadcrumbs>
    <div class="heading-container">
      <div class="heading-info">
        <div class="details-name">
          <h2 class="name">{{ currentDev.name }}</h2>
        </div>
        <div class="position">
          {{ currentDev.position }}
        </div>
        <div class="location">
          <fa-icon [icon]="faMapMarkerAlt" style="font-size: 16px; margin-right: 5px"></fa-icon>
          {{ currentDev.location }}
        </div>
      </div>
      <div class="photo">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
<div class="details-wrapper details-wrapper_content" *ngIf="isDevLoaded && currentDev">
  <div class="details-container details-container_content">
    <div class="left-block">
      <div class="experience">
        <div class="ex-heading">
          Experience in years:
        </div>
        <div class="ex-count">
          {{ currentDev.experienceYears }} year{{ currentDev.experienceYears > 1 ? 's' : '' }} of experience
        </div>
      </div>
      <div class="specialization">
        <div class="ex-heading">
          Specialization:
        </div>
        <div class="ex-count">
          {{ currentDev.position }}
        </div>
      </div>
      <div class="tech-skills">
        <div class="ex-heading">
          Technical skills:
        </div>
        <ul class="skills-list">
          <li class="skill-item" *ngFor="let skill of currentDev.skills">{{ skill }}</li>
        </ul>
      </div>
    </div>
    <div class="right-block">
      <div class="cv-request-form">
        <h2>Request a full CV</h2>
        <form [formGroup]="cvForm">
          <div class="cv-input"
                [ngStyle]="{ 'border-color': cvForm.controls['name'].touched
                && cvForm.controls['name'].status === 'INVALID' ? 'red' : 'initial' }">
            <input matInput
                  type="text"
                  formControlName="name"
                  placeholder="Name">
          </div>
          <div class="cv-input" [ngStyle]="{ 'border-color': cvForm.controls['surname'].touched && cvForm.controls['surname'].status === 'INVALID' ? 'red' : 'initial' }">
            <input matInput
                  type="text"
                  formControlName="surname"
                  placeholder="Surname">
          </div>
          <div class="cv-input" [ngStyle]="{ 'border-color': cvForm.controls['email'].touched && cvForm.controls['email'].status === 'INVALID' ? 'red' : 'initial' }">
            <input matInput
                  type="text"
                  formControlName="email"
                  placeholder="Email">
          </div>
          <div class="bottom-block">
            <mat-checkbox formControName="agreementAccepted"
                          [ngClass]="{ 'error-checkbox-label':
                          cvForm.touched && isSubmit && !isAgreementAccepted }"
                          (change)="isAgreementAccepted = !isAgreementAccepted">
              <span  class="skills">I Agree BeStaff <a href="#">Terms and Private Policy</a></span>
            </mat-checkbox>
            <button type="button"
                    mat-raised-button
                    class="elipse-button elipse-button_cv"
                    (click)="submitRequestForCVDevById()">
              Request CV
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="details-wrapper details-wrapper_other-devs">
  <div class="details-container details-container_other-devs">
    <div class="row searching-results-content">
      <div class="col-6 results-count">
        Other developers
      </div>
      <div class="col-6 see-more-link" [routerLink]="['/developers']">
        See more &#10142;
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" style="top: calc(100% - 5px)" *ngIf="isDevsLoading"></mat-progress-bar>
    <div class="row card-row">
      <div class="col-12">
        <div class="dev-card-list">
          <div class="dev-card" *ngFor="let dev of showedCards">
            <div class="card-content">
              <h3 class="card-heading">{{ dev.name }}</h3>
              <div class="position">{{ dev.position }}</div>
              <div class="skills">Experience in years:</div>
              <div class="skills-text">
                {{ dev.experience }}
              </div>
              <div class="skills">Seniority:</div>
              <div class="skills-text">
                {{ dev.seniority }}
              </div>
              <div class="skills">Technical skills:</div>
              <ul class="skills-list_details">
                <li class="skill-item_details" *ngFor="let skill of dev.skills">{{ skill }}</li>
              </ul>
            </div>
            <div class="cv-btn">
              <button mat-raised-button class="elipse-button" (click)="navigateToCV(dev)">Open CV</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hiring-">
  <app-hiring-form></app-hiring-form>
</div>

