<div class="footer-wrapper">
  <div class="row footer-container">
    <div class="col-4 left-block">
      <div class="footer-column">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas minima in exercitationem veritatis, deserunt facilis odit magnam rem consequuntur.
        </p>
        <div class="payments">
          <app-payments></app-payments>
        </div>
      </div>
    </div>
    <div class="col-4 middle-block">
      <div class="footer-column">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas minima in exercitationem veritatis, deserunt facilis odit magnam rem consequuntur.
        </p>
        <div class="socials">
          <app-socials></app-socials>
        </div>
      </div>
    </div>
    <div class="col-4 right-block">
      <app-contuct-form></app-contuct-form>
    </div>
  </div>
</div>


