<div class="header-wrapper">
  <div class="bg-color">
    <div class="row header-container">
      <div class="col-3 logo">
        <img src="../../../assets/Logo.svg" alt="BeStaff">
      </div>
      <div class="col-9 rest">
        <div class="main-menu">
          <ul class="main-menu-list">
            <li class="main-menu-item">About</li>
            <li class="main-menu-item">Developers</li>
            <li class="main-menu-item arrow-itm" [matMenuTriggerFor]="menu">Services
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Lorem ipsum</button>
                <button mat-menu-item>Lorem ipsum</button>
              </mat-menu>
            </li>
            <li class="main-menu-item">Clients</li>
            <li class="main-menu-item">Career</li>
            <li class="main-menu-item">Contacts</li>
          </ul>
        </div>
        <div class="right-block">
          <div class="language">
            <div class="lang-item" >
              <mat-form-field appearance="fill" mat-flat-button color="primary">
                <mat-select panelClass="panel" empty="false" [value]="'ENG'">
                  <mat-option value="ENG">ENG</mat-option>
                  <mat-option value="FR">FR</mat-option>
                </mat-select>
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="auth-buttons">
            <button mat-flat-button color="primary">Register</button>
            <button mat-flat-button>Login</button>
            <div class="burger-container">
              <input type="checkbox"
                     class="openSidebarMenu"
                     id="openSidebarMenu"
                     [checked]="isMenuOpenedCheckox.value"
                     [formControl]="isMenuOpenedCheckox">
              <label for="openSidebarMenu" class="sidebarIconToggle" [matMenuTriggerFor]="mobileMenu">
                  <div class="spinner diagonal part-1"></div>
                  <div class="spinner horizontal"></div>
                  <div class="spinner diagonal part-2"></div>
              </label>
              <mat-menu #mobileMenu="matMenu" (close)="onMobileMenuClose()">
                <button mat-menu-item>About</button>
                <button mat-menu-item>Developers</button>
                <button mat-menu-item>Clients</button>
                <button mat-menu-item>Career</button>
                <button mat-menu-item>Contacts</button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner" [ngClass]="{ 'hide-block': !isShowed }">
    <app-banner></app-banner>
  </div>
  <div class="banner-toggle"  (click)="visibilityToggle()">
    {{ isShowed ? 'Close this block' : 'Open this block' }}
    <span class="toggle-arrow" [ngClass]="{ 'rotate-arrow': !isShowed }"></span>
  </div>
</div>

