@import 'src/styles/variables';

.header-wrapper {
  display: inline-flex;
  width: 100%;
  background-color: $header-bg-color;
  color: $header-font-color;
}

.header-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.rest {
  display: inline-flex;
  justify-content: space-between;
  box-sizing: content-box;
  align-items: center;
}

.right-block {
  display: inline-flex;
  justify-content: space-between;
  box-sizing: content-box;
  align-items: center;
}

 .mat-select-value-text {
  color: $header-hover-link-color;
}

.main-menu-list {
  display: inline-flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  list-style-type: none;
  line-height: 19px;
  margin: 0;
  font-weight: 500;
}

.main-menu-item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.language {
  /* border: 1px solid white;
  border-radius: 6px;
  height: 36px; */
  display: flex;
  align-items: inherit;
}

.lang-item {
  position: relative;
  top: 4px;
  left: 4px;
}

#language {
  display: block;
  width: 70px;
  height: 50px;
  appearance: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $header-hover-link-color;
  background-color: $header-bg-color;
  border: none;
  z-index: 1;

  &:focus-visible {
    outline: none ;
  }

  & option {
    width: 80px;
    padding: 15px;
    color: $header-bg-color;
    background-color: $header-font-color;
  }


}

.auth-buttons {
  margin: 0;

  & button {
    margin-left: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;

    &:first-child {
      background-color: transparent;
      border: 1px solid $header-font-color;

      &:hover {
        color: $header-bg-color;
        border: 1px solid $header-font-color;
        background-color: $header-font-color;
      }
    }

    &:last-child {
      color: $header-bg-color;
      border: 1px solid $header-bg-color;

      &:hover {
        background-color: transparent;
        border: 1px solid $header-font-color;
        color: $header-font-color;
      }
    }
  }

}

.mat-form-field {
  width: 85px;
  color: white;

  &::after {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 9px;
    height: 9px;
    content: '';
    color: white;
    transform: rotate(-45deg);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
}

::ng-deep div.mat-select-arrow {
  border: none;
}

::ng-deep .mat-form-field-underline,
.mat-form-field-subscript-wrapper {
  width: 0 !important;
}

::ng-deep .mat-select-panel,
::ng-deep .mat-select-value-text {
  color: $header-hover-link-color;
}

::ng-deep .mat-select-panel mat-option.mat-option {
  color: $header-bg-color;
}
