@import 'src/styles/variables';
@import 'src/styles/mixins';

.search-wrapper {
  background-color: $bg-color-light;
  padding-bottom: 20px;
}

.search-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.dynamic-skill-item {
  max-height: 40px;
  margin-bottom: 10px;
}

.search-card {
  display: flex;
  flex-wrap: wrap;
}

.search-intro {
  padding: 30px 0;
}

.see-more-link {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $header-hover-link-color;
  text-align: right;
  cursor: pointer;
}

.heading h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.intro-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.results-count {
  position: inherit;
  width: 100%;

  @include respond-to($media_large) {
    position: absolute;
    width: auto;
  }

  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: $found-font-color;
}

.dev-card-list {
  max-width: 100%;
  //overflow-x: scroll;
  overflow: hidden;
  display: inline-flex;
  //flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include respond-to($media_large) {
    width: 100%;
    flex-wrap: wrap;
    transform: translateX(0) !important;
  }
}

div.slider-btns {
  display: inherit;
  padding: 40px;
  text-align: center;

  @include respond-to($media_large) {
    display: none;
  }
}

.radio-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

::ng-deep {
  span.mat-radio-outer-circle {
    width: 10px;
    height: 10px;
    border: 1px solid $orange-logo-color;
  }

  .mat-radio-button.mat-accent span.mat-radio-inner-circle {
    background-color: $orange-logo-color;
    left: -5px;
    top: -5px;
  }

  span.mat-radio-container {
    height: 10px;
    width: 10px;
  }
}


/*  Cards styles  */

.skills-container {
  max-height: 185px;
}

div.dev-card {
  min-width: 370px;
  width: 370px;
  height: 390px;
  padding: 15px 30px;
  margin: 15px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

.cv-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  & button {
    margin-top: 5px;
  }
}

h3.card-heading {
  width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  color: $dev-card-heading-color;
  font-weight: 600;
  text-transform: uppercase;
}

.position {
  margin-bottom: 10px;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  color: $orange-logo-color;
}

.skills {
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  color: $skills-h5-font-color;
}

.skills-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  color: $dev-card-heading-color;
}

.skills-list {
  height: fit-content;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.skill-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $found-font-color;
  margin-right: 15px;
}


/*  End cards styles  */



.elipse-button {
  height: 40px;
  width: 160px;
  border-radius: 30px;
  color: $header-font-color;
  background-color: $orange-logo-color;

  &_clear {
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: $rights-text;
    border: 1px solid $rights-text;
    border-radius: 6px;

    @include respond-to-less-than($media-iphone) {
      width: 130px;
    }

    @include respond-to-less-than($media-smallest) {
      width: 110px;
    }
  }

  &_search {
    background-color: $orange-logo-color;
    color: $header-font-color;

    @include respond-to-less-than($media-iphone) {
      width: 130px;
    }

    @include respond-to-less-than($media-smallest) {
      width: 110px;
    }

    background-color: $orange-logo-color;
    font-size: 14px;
    font-weight: 500;
    color: $header-font-color;
    border-radius: 6px;
  }
}

::ng-deep div.mat-tab-label {
  height: 40px;
  width: 125px;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: $skills-button-color;
  font-weight: 500;
}

::ng-deep .mat-tab-label {
  line-height: 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 24px;
  margin-bottom: 10px;
  background-color: $skills-button-bg;
  opacity: 1 !important;

  @include respond-to($media_large) {
    margin-bottom: 0;
  }
}

::ng-deep .mat-tab-label-active {
  background-color: $skills-active-button-bg;
}

::ng-deep .mat-ink-bar {
  display: none;
}

::ng-deep .mat-tab-header {
  border: none;
}

::ng-deep .mat-tab-label-container {
  padding: 0 0 40px 0;
}

::ng-deep div.mat-tab-header-pagination.mat-tab-header-pagination-before,
::ng-deep div.mat-tab-header-pagination.mat-tab-header-pagination-after {
  display: none;
}

::ng-deep .mat-tab-labels {
  flex-wrap: wrap;
}

.searching-results-paginator {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  /* padding: 15px; */
  align-items: center;
}

.pages {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 15px;
  cursor: pointer;
  color: $found-font-color;

  &_active {
    font-weight: 600;
    color: $orange-logo-color;
  }

  &:hover {
    text-decoration: underline;
    color: $orange-logo-color;
  }
}

.prev-page {
  width: 13px;
  height: 15px;
  cursor: pointer;
  background-image: url('../../../../assets/arrow-left.svg');
  background-repeat: no-repeat;
}

.next-page {
  width: 13px;
  height: 15px;
  cursor: pointer;
  background-image: url('../../../../assets/arrow-left.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

::ng-deep span.mat-checkbox-background {
  border: 1px solid $rights-text;
  opacity: 50%;
}

.query-row {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: $header-font-color;
}

.query-col {
  height: 44px;
  color: $rights-text;
  font-size: 14px;
  font-weight: 500;
}

.btn-col {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

::ng-deep .mat-form-field-appearance-legacy div.mat-form-field-wrapper {
  padding-left: 20px;
}

.mat-form-field {
  top: -3px;
}

.search-btn {
  background-color: $orange-logo-color;
  color: $header-font-color;
  border-radius: 6px;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  height: 60px;
  width: 200px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header-title {
  font-size: 14px;
  font-weight: 500;
  color: $skills-button-color;
}

::ng-deep span.mat-expansion-indicator::after {
  padding: 4px;
  border-color: $orange-logo-color;
}

.forms-row {
  margin-bottom: 20px;
}

.checkboxes-container input[type=checkbox] {
  display: none;
}

.checkboxes-container form label {
  padding: 8px 12px;
  margin: 0 10px 10px 0;
  border-radius: 8px;
  border: 1px solid $found-font-color;
  background-color: $header-font-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $found-font-color;
  cursor: pointer;


  &.label_chacked {
    border-radius: 6px;
    background-color:  $rights-text;
    color: $header-font-color;
  }
}

.form-container {
  padding: 20px 0;
  display: inline-flex;
  flex-wrap: wrap;
}

.left-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include respond-to($media_large) {
    width: 50%;
  }
}

.right-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include respond-to($media_large) {
    width: 50%;
    padding-left: 40px;
  }
}

::ng-deep {
  div.mat-slider-thumb-label {
    transform: rotate(45deg) translateY(20px) !important;
    width: 28px !important;
    height: 28px !important;
    border-radius: 50% !important;
    background-color: white !important;
    border: 1px solid $skills-button-color !important;

  }
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
    color: $skills-button-color !important;
  }

  .mat-slider-horizontal .mat-slider-thumb-label {
    top: -30px !important;
    right: -20px !important;
  }

  .mat-slider.mat-primary .mat-slider-track-fill {
    background-color: $skills-button-color;
  }

  /* checkbox styling */
  .mat-checkbox-checkmark-path {
    stroke: $orange-logo-color !important;
    stroke-width: 3px !important;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent;
  }

  .mat-checkbox-frame {
    border: 1px solid $rights-text !important;
  }

  span.mat-checkbox-background {
    opacity: 1;
  }

  /* end checkbox styling */

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $found-font-color !important;
  }
}

.ex-slider-wrapper,
.seniority-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 0;

  @include respond-to($media_large) {
    padding-left: 40px;
    padding-top: 0;
  }
}

.ex-slider {
  width: 250px;

  @include respond-to-less-than($media-iphone) {
    width: 200px;
  }

  @include respond-to-less-than($media-smallest) {
    width: 170px;
  }

  @include respond-to($media_large) {
    width: 350px;
  }

  align-self: center;
  margin-left: 30px;

  &::before {
    position: absolute;
    content: '0';
    top: 11px;
    left: -30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  &::after {
    position: absolute;
    content: '9';
    top: 11px;
    right: -30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

.slider-heading {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $found-font-color;
}

.search-btn-text {
  display: none;

  @include respond-to($media_large) {
      display: inherit;
  }
}

.checkboxes-seniority-container {
  padding: 16px 0 0 0;

  & label {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: $found-font-color;
  }
}

.seniority-item-label {
  padding-right: 35px;
}

.btn-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

/* .search-cards-container {
  overflow: hidden;
} */

.searching-results-content {
  position: relative;
  min-height: 30px;
}


