.banner-wrapper {
  min-height: 530px;
  background-color: aquamarine;
  background-image: url('../../../assets/banner-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}