<div class="hiring-wrapper hiring-wrapper_hiring-form">
  <div class="hiring-container hiring-container_hiring-form">
    <div class="hiring-form" [ngStyle]="{ 'padding-top' : paddingTop() }">
      <h2>{{ hiringFormTitle }}</h2>
      <p class="hiring-intro-text">
        Didn't find developer in our Base? Fill in form, describe your position and we will find
      </p>
      <form [formGroup]="hiringForm">
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['name'].touched
                && hiringForm.controls['name'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="name"
                placeholder="Name">
        </div>
        <div *ngIf="hiringForm.get('name') 
              && hiringForm.get('name')!.status === 'INVALID'
              && (hiringForm.get('name')!.touched || hiringForm.get('name')!.dirty)"
              style="width: 100%; font-size: 10px; color: #f1b6b6;">
          <span *ngIf="showErrors(hiringForm.get('name')!.errors) === 'pattern'">min 2 letters, not allowed digits or other symbols</span>
          <span *ngIf="showErrors(hiringForm.get('name')!.errors) === 'required'">this field is required</span>
          <span *ngIf="showErrors(hiringForm.get('name')!.errors) === 'minlength'">this field must be longer than 2 characters</span>
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['surname'].touched
                && hiringForm.controls['surname'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="surname"
                placeholder="Surname">
        </div>
        <div *ngIf="hiringForm.get('surname') 
              && hiringForm.get('surname')!.status === 'INVALID'
              && (hiringForm.get('surname')!.touched || hiringForm.get('surname')!.dirty)"
              style="width: 100%; font-size: 10px; color: #f1b6b6;">
          <span *ngIf="showErrors(hiringForm.get('surname')!.errors) === 'pattern'">min 2 letters, not allowed digits or other symbols</span>
          <span *ngIf="showErrors(hiringForm.get('surname')!.errors) === 'required'">this field is required</span>
          <span *ngIf="showErrors(hiringForm.get('surname')!.errors) === 'minlength'">this field must be longer than 2 characters</span>
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['email'].touched
                && hiringForm.controls['email'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="email"
                placeholder="Email">
        </div>
        <div *ngIf="hiringForm.get('email') 
              && hiringForm.get('email')!.status === 'INVALID'
              && (hiringForm.get('email')!.touched || hiringForm.get('email')!.dirty)"
              style="width: 100%; font-size: 10px; color: #f1b6b6;">
          <span *ngIf="showErrors(hiringForm.get('email')!.errors) === 'forbiddenEmail'">only bussiness e-mail</span>
          <span *ngIf="showErrors(hiringForm.get('email')!.errors) === 'required'">this field is required</span>
          <span *ngIf="showErrors(hiringForm.get('email')!.errors) === 'email'">email must have xxx@xx.xx format</span>
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['text'].touched
                && hiringForm.controls['text'].status === 'INVALID' ? 'red' : 'initial' }">
          <textarea matInput
                formControlName="text"
                placeholder="Your text"
                rows="5">
          </textarea>
        </div>
        <div *ngIf="hiringForm.get('text') 
              && hiringForm.get('text')!.status === 'INVALID'
              && (hiringForm.get('text')!.touched || hiringForm.get('text')!.dirty)"
              style="width: 100%; font-size: 10px; color: #f1b6b6;">
          <span *ngIf="showErrors(hiringForm.get('text')!.errors) === 'required'">this field is required</span>
          <span *ngIf="showErrors(hiringForm.get('text')!.errors) === 'minlength'">min length is 100 characters</span>
        </div>
        <div class="bottom-block bottom-block_hiring-form">
          <mat-checkbox formControName="agreementAccepted"
                        class="hiring-checkbox"
                        [ngClass]="{ 'error-checkbox-label':
                        hiringForm.touched && isSubmit && !isAgreementAccepted }"
                        [checked]="isAgreementAccepted"
                        (change)="isAgreementAccepted = !isAgreementAccepted">
            <span  class="skills">I Agree BeStaff <a href="#">Terms and Private Policy</a></span>
          </mat-checkbox>
          <button type="button"
                  mat-raised-button
                  class="elipse-button elipse-button_cv"
                  (click)="sendHiringForm()"
                  [disabled]="hiringForm.status === 'INVALID' || !isAgreementAccepted">
            Send request
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
