@import 'src/styles/variables';
@import 'src/styles/mixins';


.hiring-wrapper {
  background-color: $bg-color-light;

  &_hiring-form {
    min-height: 680px;
    background-color: transparent;
    /* background-image: url('../../../assets/bg-hiring.png');
    background-position: center;
    background-size: cover; */
  }
}

.bg-needs {
  background-image: url('../../../assets/bg-hiring.png');
  background-position: center;
  background-size: cover;
}

.hiring-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;

  &_hiring-form {
    justify-content: flex-start;

    @include respond-to-less-than(1000px) {
      justify-content: center;
    }

    align-items: center;
    height: 100%;
    max-width: 1200px;
  }
}

.bottom-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

  &_hiring-form {
    justify-content: flex-start;

    & button {
      width: 160px;
      margin: 25px 0;
    }

    & .hiring-checkbox {
      width: 100%;

      & span {
        color: $header-font-color;

        & a {
          color: $header-font-color;
        }
      }
    }
  }
}

.hiring-form {
  color: $header-font-color;

  & h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 3%;
    color: $header-font-color;
  }
}

.hiring-intro-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.hiring-input {
  padding: 10px;
  border: 1px solid $rights-text;
  border-radius: 6px;
  color: $header-font-color;
  margin: 25px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: $lessTransparentWhite;

  & .mat-input-element::placeholder {
    color: $header-font-color;
  }
}

.elipse-button {
  height: 40px;
  width: 160px;
  border-radius: 30px;
  color: $header-font-color;
  background-color: $orange-logo-color;
}

.bottom-block mat-checkbox {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.error-checkbox-label {
  border: 1px solid red;
}

