<div class="hiring-wrapper hiring-wrapper_hiring-form">
  <div class="hiring-container hiring-container_hiring-form">
    <div class="hiring-form" [ngStyle]="{ 'padding-top' : paddingTop() }">
      <h2>{{ hiringFormTitle }}</h2>
      <p class="hiring-intro-text">
        Didn't find developer in our Base? Fill in form, describe your position and we will find
      </p>
      <form [formGroup]="hiringForm">
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['name'].touched
                && hiringForm.controls['name'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="name"
                placeholder="Name">
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['surname'].touched
                && hiringForm.controls['surname'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="surname"
                placeholder="Surname">
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['email'].touched
                && hiringForm.controls['email'].status === 'INVALID' ? 'red' : 'initial' }">
          <input matInput
                type="text"
                formControlName="email"
                placeholder="Email">
        </div>
        <div class="hiring-input" [ngStyle]="{ 'border-color': hiringForm.controls['text'].touched
                && hiringForm.controls['text'].status === 'INVALID' ? 'red' : 'initial' }">
          <textarea matInput
                formControlName="text"
                placeholder="Your text"
                rows="5">
          </textarea>
        </div>
        <div class="bottom-block bottom-block_hiring-form">
          <mat-checkbox formControName="agreementAccepted"
                        class="hiring-checkbox"
                        [ngClass]="{ 'error-checkbox-label':
                        hiringForm.touched && isSubmit && !isAgreementAccepted }"
                        (change)="isAgreementAccepted = !isAgreementAccepted">
            <span  class="skills">I Agree BeStaff <a href="#">Terms and Private Policy</a></span>
          </mat-checkbox>
          <button type="button"
                  mat-raised-button
                  class="elipse-button elipse-button_cv"
                  (click)="sendHiringForm()">
            Send request
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
