@import 'src/styles/variables';
@import 'src/styles/mixins';


.contacts-wrapper {
  background-color: transparent;
  width: 100%;
  background-image: url('../../../../assets/bg-hiring.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbs {
  position: absolute;
}
