@import 'src/styles/variables';
@import 'src/styles/mixins';


.contacts-wrapper {
  width: 100%;
  background-color: transparent;
}

.contacts-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbs {
  position: absolute;
}
