<div class="banner-wrapper">
  <div class="banner-content">
    <div class="in-block">
      <h2 class="banner-heading">Lorem ipsum dolor</h2>
      <div class="text-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Consequuntur corrupti ab totam dolorum id placeat asperiores dolorem sapiente laudantium?
      </div>
      <div class="buttons">
        <button mat-flat-button class="elipse-button">Login</button>
        <button mat-flat-button class="elipse-button transparent" [routerLink]="['/register']">Register</button>
      </div>
    </div>
  </div>
<!-- <button mat-flat-button class="questions-button">
  <fa-icon [icon]="faComment" style="font-size: 30px; margin-right: 10px"></fa-icon>
  <span class="btn-text ">Questions? Contac us!</span>
</button> -->
</div>


