@import 'src/styles/variables';
@import 'src/styles/mixins';

.banner-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 850px;
  width: 100%;
  background-image: linear-gradient(to bottom, #18263400, #18263433, #18263455, #182634dd, #182634ff), url('../../../assets/bg-mobile.png');
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  @include respond-to($media_large) {
    display: flex;
    align-items: flex-start;
    min-height: 530px;
    background-position: center;
    background-image: url('../../../assets/banner-bg.png');
  }
}

.mat-content {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  flex-direction: column;
  justify-content: center;
}

.elipse-button {
  height: 54px;
  width: 160px;
  border-radius: 30px;
  color: $header-font-color;
  background-color: $orange-logo-color;
}

.transparent {
  border: 1px solid $header-font-color;
  margin-left: 10px;
  background-color: transparent;

  @include respond-to($media_large) {
    margin-left: /* 30px */0;
  }
}

.banner-content {
  max-width: 1200px;
  margin: 48px auto;
  padding: 0 15px;
  display: flex;
  width: 100%;
}

.banner-heading {
  font-size: 70px;
  line-height: 105px;
  font-weight: 600;
}

.text-content {
  font-size: 18px;
  line-height: 27px;
  margin: 0 0 35px;
}

.in-block {
  max-width: 680px;
  margin-bottom: 35px;

  @include respond-to($media_large) {
    margin: 0;
  }
}

.buttons {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @include respond-to($media_large) {
    width: auto;
    justify-content: space-around;
  }
}
