<div class="benefits-wrapper">
  <div class="benefits-container">
    <div class="row text-content">
      <h2 class="heading">Lorem ipsum dolor</h2>
      <div class="centered-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Illum impedit iusto, nihil blanditiis tempora optio est quibusdam labore deleniti unde sint omnis placeat non quis.
      </div>
    </div>
    <div class="counts">
      <div class="benefit-item">
        <img src="../../../assets/pc.svg" alt="">
        <div class="count">
          <div class="num">1000</div>
          <div class="small-text">Lorem ipsum dolor</div>
        </div>
      </div>
      <div class="benefit-item">
        <img src="../../../assets/brain.svg" alt="">
        <div class="count">
          <div class="num">1000</div>
          <div class="small-text">Lorem ipsum dolor</div>
        </div>
      </div>
      <div class="benefit-item">
        <img src="../../../assets/people.svg" alt="">
        <div class="count">
          <div class="num">1000</div>
          <div class="small-text">Lorem ipsum dolor</div>
        </div>
      </div>
      <div class="benefit-item">
        <img src="../../../assets/star.svg" alt="">
        <div class="count">
          <div class="num">1000</div>
          <div class="small-text">Lorem ipsum dolor</div>
        </div>
      </div>
    </div>
  </div>
</div>
