@import 'src/styles/variables';
@import 'src/styles/mixins';

.search-container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-intro {
  padding: 30px 0;
}

.see-more-link {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $header-hover-link-color;
  text-align: right;
}

.heading h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.intro-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.results-count {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $found-font-color;
}