<div class="center-table-wrapper">
  <div class="center-table-container">
    <div class="row">
      <div class="content-heading">
        Lorem ipsum
      </div>
      <div class="text-content-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum saepe debitis, temporibus pariatur qui doloribus modi quas repellendus dolorem iste? Laudantium saepe qui quis dolores expedita dignissimos doloremque nesciunt ea.
      </div>
    </div>
    <div class="row">
      <table mat-table [dataSource]="aboutDataSource" class="mat-elevation-z8 center-table" style="width: 100%">

        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef class="header-table"> number </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index" class="cell-1"> Lorem {{ i + 1 }} </mat-cell>
          <mat-footer-cell *matFooterCellDef> <h3>Lorem</h3> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="owner">
          <mat-header-cell *matHeaderCellDef class="header-table"> owner </mat-header-cell>
          <mat-cell *matCellDef="let element" class="cell-2"> {{element.owner}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef class="header-table"> code </mat-header-cell>
          <mat-cell *matCellDef="let element" class="cell-3"> {{element.code}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef class="header-table"> type </mat-header-cell>
          <mat-cell *matCellDef="let element" class="cell-4"> {{element.type}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="types">
          <mat-header-cell *matHeaderCellDef class="header-table"> types </mat-header-cell>
          <mat-cell *matCellDef="let element" class="cell-5">
            <fa-icon [icon]="faPlus" style="font-size: 12px; margin-right: 10px"></fa-icon>
            Add {{element.types}} 
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="footer-left">
          <td mat-footer-cell *matFooterCellDef colspan="1">
           <div class="footer-heading">
            Lorem Ipsum
           </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="footer-center">
          <td mat-footer-cell *matFooterCellDef colspan="3" class="center-footer">
           <div class="footer-input">
            <input type="text" matInput [formControl]="tableInput" placeholder="Text field">
           </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="footer-right">
          <td mat-footer-cell *matFooterCellDef colspan="1">
           <div class="footer-button">
            <button type="button"
                    mat-raised-button
                    class="elipse-button">
              Button
            </button>
           </div>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="centerTableColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: centerTableColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['footer-left', 'footer-center', 'footer-right']; sticky: true" class="footer-container"></mat-footer-row>
      </table>
    </div>
  </div>
</div>
