@import 'src/styles/variables';
@import 'src/styles/mixins';

.center-table-wrapper {
  color: $header-bg-color;
  width: 100%;
}

.center-table-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
}

.content-heading {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.text-content-center {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.center-table {
  border-radius: 6px;
}

.mat-table{
  border-radius: 6px;
  overflow:hidden !important;
}

.header-table {
  background-color: $table-header-bg;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $header-bg-color;
  text-transform: uppercase;

}

mat-row {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $header-bg-color;

  &:nth-child(even) {
    background-color: $table-row-bg;
  }

}

td.mat-footer-cell {
  border: none;
}

.footer-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to-less-than(800px) {
    flex-wrap: wrap;
  }
}

.footer-heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: $header-bg-color;

}

td.mat-footer-cell:first-of-type {
  @include respond-to-less-than(800px) {
    width: 100%;
    margin: 10px 0;
  }
}

td.mat-footer-cell:last-of-type {
  @include respond-to-less-than(800px) {
    width: 100%;
    padding: 0 15px 15px 15px;
    text-align: center;
  }

}

.footer-input {
  padding: 10px;
  border: 1px solid $rights-text;
  border-radius: 6px;
  color: $rights-text;
  margin: 25px 0;

  @include respond-to-less-than(800px) {
    margin: 0;
  }
}

.footer-button {
  transform: translateX(-65px);

  @include respond-to-less-than($media_large) {
    transform: translateX(0);
  }
}

.elipse-button {
  height: 40px;
  width: 160px;
  border-radius: 6px;
  color: $header-font-color;
  background-color: $orange-logo-color;

  @include respond-to-less-than(800px) {
    width: 100%;
  }
}

.center-footer {
  width: 50%;

  @include respond-to-less-than(800px) {
    width: 100%;
    margin: 10px;
  }
}

::ng-deep {
  .mat-input-element::placeholder {
    color: $rights-text;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  .mat-form-field-label {
    padding: 0 15px;
  }
}

.cell-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $header-bg-color;
}

.cell-2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #6C9CE5;
}

.cell-3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #2D1143;
  opacity: 0.2;
}

.cell-4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #2D1143;
  opacity: 0.2;
}

.cell-5 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #FBA08C;
}
