<div class="career-page-wrapper">
  <div class="career-page-container">
    <div class="ban-cont">
      <div class="banner" [ngClass]="{ 'hide-block': !isShowed }" *ngIf="bannerIsShowed()">
        <div class="career-banner centered">
          <div class="banner-bg">
            <div class="breadcrumbs">
              <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div class="banner-content">
              <h1 class="page-name">
                Career
              </h1>
              <div class="banner-page-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda itaque ipsa commodi nihil tempora ratione, perspiciatis deleniti harum molestias suscipit. Minima eum tempora placeat eos blanditiis. Dolores quam, doloribus corporis quasi deleniti distinctio doloremque quia? Maxime nisi suscipit architecto eum soluta! Itaque commodi ipsam deleniti dolor eveniet ut excepturi sint?
              </div>
              <div class="start-career-btn">
                <button mat-raised-button class="send-cv elipse-button" [routerLink]="['/register']" (click)="sendCV()">Send CV</button>
              </div>
            </div>
            <div class="banner-img">
            </div>
          </div>
        </div>
        <!-- <div class="job-form" >
          <form [formGroup]="addCVFormGroup" #searchForm='ngForm'>
            <div class="row centered query-row">
              <div class="input-col my-col-3" >
                <div class="inner-input">
                  <input matInput
                      type="text"
                      formControlName="jobTitle"
                      placeholder="Job title"
                      [matAutocomplete]="autoPositions">
                </div>
              </div>

              <mat-autocomplete #autoPositions="matAutocomplete"
                                [hidden]="!positionsList"
                                (optionSelected)="optionWasSelected($event)"
                                overlayPanelClass="auto-class">
                <mat-option *ngFor="let position of filteredPositions | async" [value]="position.name">
                  {{position.name}}
                </mat-option>
              </mat-autocomplete>

              <div class="input-col my-col-4">
                <div class="inner-input">
                  <input matInput
                      type="text"
                      formControlName="city"
                      placeholder="City">
                </div>
              </div>
              <div class="input-col query-col my-col-5">
                <div class="inner-input">
                  <input matInput
                      type="text"
                      formControlName="category"
                      placeholder="Category">
                <button type="button"
                        mat-raised-button
                        class="elipse-button elipse-button_icon">
                  <span class="search-btn-text"> Search </span><fa-icon [icon]="faSearch"> </fa-icon>
                </button>
                </div>
              </div>
            </div>
          </form>
            <div class="row forms-row centered">
              <div class=" for-padding col-12">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      Search by Stack
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <div class="form-container">
                      <div class="left-block checkboxes-container">
                        <form [formGroup]="searchFormGroup" #searchForm='ngForm' class="search-card" *ngIf="isStackLoaded && stacksList">
                          <div class="skills-list">
                            <div class="dynamic-skill-item" *ngFor="let stack of stacksList">
                              <input type="checkbox" formControlName="{{ stack.id }}" id="{{ stack.id }}">
                              <label for="{{ stack.id }}" [ngClass]="{ 'label_chacked': searchFormGroup.get(stack.id)?.value }">{{ stack.name }}</label>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="right-block">
                        <div class="ex-slider-wrapper">
                          <div class="slider-heading">
                            Experience in years
                          </div>
                          <mat-slider [displayWith]="currentYearsExp"
                                      [formControl]="exSlider"
                                      tickInterval="1"
                                      [value]="sliderValue"
                                      thumbLabel="true"
                                      displayValue="true"
                                      step="1"
                                      min="0"
                                      max="10"
                                      color="primary"
                                      aria-label="units"
                                      class="ex-slider">
                          </mat-slider>
                        </div>
                        <div class="seniority-wrapper">
                          <div class="slider-heading">
                            Seniority
                          </div>
                          <div class="checkboxes-seniority-container">
                            <mat-checkbox [formControl]="seniorityJunior" id="seniority-junior">
                              <label for="seniority-junior" class="seniority-item-label">Junior</label>
                            </mat-checkbox>
                            <mat-checkbox [formControl]="seniorityMiddle" id="seniority-middle">
                              <label for="seniority-middle" class="seniority-item-label">Middle</label>
                            </mat-checkbox>
                            <mat-checkbox [formControl]="senioritySenior" id="seniority-senior">
                              <label for="seniority-senior" class="seniority-item-label">Senior</label>
                            </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row btn-container">
                      <button mat-raised-button class="elipse-button elipse-button_clear" (click)="clearFilters()">
                        Clear filters
                      </button>
                      <button type="button"
                              mat-raised-button
                              class="elipse-button elipse-button_search"
                              (click)="searchByStackQuery()">
                        Search
                      </button>
                    </div>
                  </ng-template>
                </mat-expansion-panel>
              </div>
            </div>

        </div> -->
      </div>
      <!-- <div class="banner-toggle-container">
        <div class="banner-toggle"  (click)="visibilityToggle()" *ngIf="bannerIsShowed()">
          {{ isShowed ? 'Close this block' : 'Open this block' }}
          <span class="toggle-arrow" [ngClass]="{ 'rotate-arrow': !isShowed }"></span>
        </div>
      </div> -->


      <div class="searching-results centered" style="padding-top: 30px" *ngIf="isDevsLoaded && showedCards && showedCards.length">
        <div class="row searching-results-content">
          <div class="col-2 results-count">
            Found {{ totalDevsCount }} developer{{ totalDevsCount > 1 ? 's' : '' }}
          </div>
          <div class="col-10 searching-results-paginator" *ngIf="isDevsLoaded && showedCards && totalDevsCount && pagesCount">
            <div class="prev-page" (click)="changeCurrentPage('-')"></div>
              <div class="pages"
                   [ngClass]="{ 'pages_active': num === currentPage }"
                   *ngFor="let num of pagesNumberArray"
                   (click)="changeCurrentPage(num)">
                {{ num }}
              </div>
            <div class="next-page" (click)="changeCurrentPage('+')"></div>
          </div>
        </div>
        <mat-progress-bar mode="indeterminate" style="top: calc(100% - 5px)" *ngIf="!isDevsLoaded || !showedCards"></mat-progress-bar>

        <!-- cards template, should be showed in recursion -->
        <div class="row search-cards-container" *ngIf="isDevsLoaded && showedCards && showedCards.length">
          <div class="col-12">
            <div class="dev-card-list">
              <div class="dev-card" *ngFor="let dev of showedCards" [ngStyle]="{ 'height': cardsHeight }">
                <div class="card-content" *ngIf="dev && dev['name']">
                  <h3 class="card-heading">{{ dev['name'] }}</h3>
                  <div class="position">{{ dev['position'] }}</div>
                  <div class="skills">Experience in years:</div>
                  <div class="skills-text">
                    {{ dev['experienceYears'] }}
                  </div>
                  <div class="skills">Seniority:</div>
                  <div class="skills-text">
                    {{ dev['seniority'] }}
                  </div>
                  <div class="skills">Technical skills:</div>
                  <ul class="skills-list">
                    <li class="skill-item" *ngFor="let skill of dev['skills']">{{ skill }}</li>
                  </ul>
                </div>
                <div class="cv-btn"  *ngIf="dev && dev['name']">
                  <button mat-raised-button class="elipse-button" (click)="navigateToCV(dev)">Open CV</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end cards template -->

        <div class="slider-btns">
          <mat-radio-group class="radio-group" [formControl]="radioItem" (change)="change()">
            <mat-radio-button [value]="+item" class="radio-item" *ngFor="let item of radioArr" [checked]="+radioItem.value === +item"></mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </div>
    <div class="row">
      <app-benefits></app-benefits>
    </div>
    <div class="bg-color">
      <div class="row">
        <app-partners></app-partners>
      </div>
    </div>
  </div>
</div>