<div class="reg-wrapper">
  <div class="reg-container" *ngIf="!registrationHaveBeenCompleted">
    <div class="heading">
      <h2>Registration</h2>
    </div>
    <div class="stepper-conaiter" *ngIf="isFormsLoaded">
      <mat-stepper labelPosition="bottom" [disableRipple]="true" #stepper [linear]="true">
        <mat-step [stepControl]="firstFormGroup" [completed]="firstFormGroup.status === 'VALID'">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Step 1</ng-template>
            <label for="name">Name</label>
            <div class="inner-input" 
                 [ngClass]="{ 'error': firstFormGroup.get('Name') 
                                       && firstFormGroup.get('Name')!.status === 'INVALID'
                                       && (firstFormGroup.get('Name')!.touched || firstFormGroup.get('Name')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Name"
                  placeholder="Name"
                  id="name"
                  [ngClass]="{ 'filled-input': firstFormGroup.get('Name') 
                                              && firstFormGroup.get('Name')!.status === 'VALID'
                                              && (firstFormGroup.get('Name')!.touched || firstFormGroup.get('Name')!.dirty) }"
                  required>
            </div>
            <div *ngIf="firstFormGroup.get('Name') 
                  && firstFormGroup.get('Name')!.status === 'INVALID'
                  && (firstFormGroup.get('Name')!.touched || firstFormGroup.get('Name')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(firstFormGroup.get('Name')!.errors) === 'pattern'">min 2 letters, not allowed digits or other symbols</span>
              <span *ngIf="showErrors(firstFormGroup.get('Name')!.errors) === 'required'">this field is required</span>
              <span *ngIf="showErrors(firstFormGroup.get('Name')!.errors) === 'minlength'">this field must be longer than 2 characters</span>
            </div>
            <label for="surname">Surname</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('Surname') 
                                                           && firstFormGroup.get('Surname')!.status === 'INVALID'
                                                           && (firstFormGroup.get('Surname')!.touched || firstFormGroup.get('Surname')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Surname"
                  placeholder="Surname"
                  id="surname"
                  [ngClass]="{ 'filled-input': firstFormGroup.get('Surname') 
                                              && firstFormGroup.get('Surname')!.status === 'VALID'
                                              && (firstFormGroup.get('Surname')!.touched || firstFormGroup.get('Surname')!.dirty) }"
                  required>
                  <div *ngIf="firstFormGroup.get('Surname') 
                        && firstFormGroup.get('Surname')!.status === 'INVALID'
                        && (firstFormGroup.get('Surname')!.touched || firstFormGroup.get('Surname')!.dirty)"
                        style="width: 100%; font-size: 10px; color: red;">
                    <span *ngIf="showErrors(firstFormGroup.get('Surname')!.errors) === 'pattern'">min 2 letters, not allowed digits or other symbols</span>
                    <span *ngIf="showErrors(firstFormGroup.get('Surname')!.errors) === 'required'">this field is required</span>
                    <span *ngIf="showErrors(firstFormGroup.get('Surname')!.errors) === 'minlength'">this field must be longer than 2 characters</span>
                  </div>
            </div>
            <label for="email">Email</label>
            <div class="inner-input"  [ngClass]="{ 'error': firstFormGroup.get('Email') 
                                                            && firstFormGroup.get('Email')!.status === 'INVALID'
                                                            && (firstFormGroup.get('Email')!.touched || firstFormGroup.get('Email')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Email"
                  placeholder="Email"
                  id="email"
                  [ngClass]="{ 'input-error': firstFormGroup.get('Email') 
                                              && firstFormGroup.get('Email')!.status === 'INVALID'
                                              && (firstFormGroup.get('Email')!.touched || firstFormGroup.get('Email')!.dirty) }"
                  required>
                  
            </div>
            <div *ngIf="firstFormGroup.get('Email') 
                  && firstFormGroup.get('Email')!.status === 'INVALID'
                  && (firstFormGroup.get('Email')!.touched || firstFormGroup.get('Email')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(firstFormGroup.get('Email')!.errors) === 'email'">this field must have xxx@xxx.xx format</span>
              <span *ngIf="showErrors(firstFormGroup.get('Email')!.errors) === 'required'">this field is required</span>
            </div>
            <label for="location">Location</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('Location') 
                                                            && firstFormGroup.get('Location')!.status === 'INVALID'
                                                            && (firstFormGroup.get('Location')!.touched || firstFormGroup.get('Location')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Location"
                  placeholder="Location"
                  id="location"
                  required>
            </div>
            <div *ngIf="firstFormGroup.get('Location') 
                  && firstFormGroup.get('Location')!.status === 'INVALID'
                  && (firstFormGroup.get('Location')!.touched || firstFormGroup.get('Location')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(firstFormGroup.get('Location')!.errors) === 'pattern'">min 2 letters, "-" or "," , not allowed digits or other symbols</span>
              <span *ngIf="showErrors(firstFormGroup.get('Location')!.errors) === 'required'">this field is required</span>
              <span *ngIf="showErrors(firstFormGroup.get('Location')!.errors) === 'minlength'">this field must be longer than 2 characters</span>
            </div>
            <label for="position">Position</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('Position') 
                                                            && firstFormGroup.get('Position')!.status === 'INVALID'
                                                            && (firstFormGroup.get('Position')!.touched || firstFormGroup.get('Position')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Position"
                  placeholder="Position"
                  id="position"
                  [ngClass]="{ 'filled-input': firstFormGroup.get('Position') 
                                              && firstFormGroup.get('Position')!.status === 'VALID'
                                              && (firstFormGroup.get('Position')!.touched || firstFormGroup.get('Position')!.dirty) }"
                  required
                  [matAutocomplete]="autoPositions">
            </div>
            <div *ngIf="firstFormGroup.get('Position') 
                  && firstFormGroup.get('Position')!.status === 'INVALID'
                  && (firstFormGroup.get('Position')!.touched || firstFormGroup.get('Position')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(firstFormGroup.get('Position')!.errors) === 'forbiddenPosition'">this field must be one of list of positions</span>
              <span *ngIf="showErrors(firstFormGroup.get('Position')!.errors) === 'required'">this field is required</span>
            </div>
            <mat-autocomplete #autoPositions="matAutocomplete" [hidden]="!positionsList">
              <mat-option *ngFor="let position of filteredPositions | async" [value]="position.name">
                {{position.name}}
              </mat-option>
            </mat-autocomplete>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="shortDescription">Short Description</label>
            <div class="inner-input inner-input_textarea" [ngClass]="{ 'error': firstFormGroup.get('Description') 
                                                                                && firstFormGroup.get('Description')!.status === 'INVALID'
                                                                                && (firstFormGroup.get('Description')!.touched || firstFormGroup.get('Description')!.dirty) }">
              <textarea matInput
                        formControlName="Description"
                        placeholder="Short Description"
                        id="shortDescription"
                        rows="4">
              </textarea>
              
            </div>
            <div style="padding: 5px 0;" *ngIf="firstFormGroup.get('Description')!.value.length > 0">typed {{ firstFormGroup.get('Description')!.value.length }} characters</div>
            <div *ngIf="firstFormGroup.get('Description') 
                  && firstFormGroup.get('Description')!.status === 'INVALID'
                  && (firstFormGroup.get('Description')!.touched || firstFormGroup.get('Description')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(firstFormGroup.get('Description')!.errors) === 'required'">this field is required</span>
              <span *ngIf="showErrors(firstFormGroup.get('Description')!.errors) === 'minlength'">this field must be longer than 100 characters</span>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <div class="checkbox-container">
              <label for="first" class="seniority-item-label"></label>
              <mat-checkbox [formControl]="loremOne" id="first">
                Lorem
              </mat-checkbox>
              <label for="second" class="seniority-item-label"></label>
              <mat-checkbox [formControl]="loremTwo" id="second">
                Ipsum
              </mat-checkbox>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next"
                      [disabled]="firstFormGroup.status === 'INVALID' || !loremOne.value || !loremTwo.value">
                      Next  &#10142;
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [completed]="secondFormGroup.status === 'VALID'">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Step 2</ng-template>
            <label for="skill" style="width: 100%;"> <span style="padding-bottom: 10px;">Add skill</span></label>
            <div class="inner-input skills-container" [ngClass]="{ 'error': secondFormGroup.get('skill') 
                                                                            && !isSkillsValid
                                                                            && (secondFormGroup.get('skill')!.touched || secondFormGroup.get('skill')!.dirty) }">
              <ul class="skills-list-inner" *ngIf="choosedSkills.length" [ngStyle]="{ 'width': ulWidth() }">
                <li class="skills-item-inner" *ngFor="let skill of choosedSkills">
                  <span>{{ skill.name }}</span>
                  <span (click)="removeSkill(skill.id, 'skill')"><fa-icon [icon]="faTimes"></fa-icon></span>
                </li>
              </ul>
              <input matInput
                  type="text"
                  formControlName="skill"
                  placeholder="{{ !choosedSkills.length ? 'Add skill' : '' }}"
                  [ngStyle]="{ 'padding': choosedSkills.length > 0 ? '5px': '10px' }"
                  [matAutocomplete]="autoSkills"
                  id="skill">
              <mat-autocomplete #autoSkills="matAutocomplete" (optionSelected)="addSkillSelected($event)">
                <mat-option *ngFor="let skill of filteredOptions | async" [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div *ngIf="!isSkillsValid || secondFormGroup.get('skill')!.errors">
              <span *ngIf="!isSkillsValid">this field must be one of list of skills</span>
              <span *ngIf="showErrors(secondFormGroup.get('skill')!.errors) === 'required'">this field is required</span>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="otherSkills">Other Skills</label>
            <div class="inner-input inner-input_textarea" [ngClass]="{ 'error': secondFormGroup.get('otherSkills') 
                                                                                && secondFormGroup.get('otherSkills')!.status === 'INVALID'
                                                                                && (secondFormGroup.get('otherSkills')!.touched || secondFormGroup.get('otherSkills')!.dirty) }">
              <ul class="skills-list-inner" *ngIf="choosedOtherSkills.length" [ngStyle]="{ 'width': ulWidth() }">
                <li class="skills-item-inner" *ngFor="let skill of choosedOtherSkills">
                  <span>{{ skill.name }}</span>
                  <span (click)="removeSkill(skill.id, 'otherSkills')"><fa-icon [icon]="faTimes"></fa-icon></span>
                </li>
              </ul>
              <textarea matInput
                        formControlName="otherSkills"
                        placeholder="{{ !choosedOtherSkills.length ? 'Other Skills' : '' }}"
                        [matAutocomplete]="autoOtherSkills"
                        [ngStyle]="{ 'padding': choosedOtherSkills.length > 0 ? '5px': '10px' }"
                        id="otherSkills"
                        [ngClass]="{ 'input-error': secondFormGroup.get('otherSkills') 
                                                    && secondFormGroup.get('otherSkills')!.status === 'INVALID'
                                                    && (secondFormGroup.get('otherSkills')!.touched || secondFormGroup.get('otherSkills')!.dirty) }"
                        (keypress)="hendleAddSkill($event, 'otherSkills')"
                        rows="4">
              </textarea>
              <mat-autocomplete #autoOtherSkills="matAutocomplete" (optionSelected)="otherSkillsSelected($event, secondFormGroup.get('otherSkills')!.value)">
                <mat-option *ngFor="let skill of filteredOtherOptions | async" [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="exYears">Experience in years</label>
            <div class="inner-input" [ngClass]="{ 'error': secondFormGroup.get('Experience') 
                                                            && secondFormGroup.get('Experience')!.status === 'INVALID'
                                                            && (secondFormGroup.get('Experience')!.touched || secondFormGroup.get('Experience')!.dirty) }">
              <input matInput
                  type="text"
                  formControlName="Experience"
                  placeholder="Experience in years"
                  id="exYears"
                  [ngClass]="{ 'input-error': secondFormGroup.get('Experience') 
                                              && secondFormGroup.get('Experience')!.status === 'INVALID'
                                              && (secondFormGroup.get('Experience')!.touched || secondFormGroup.get('Experience')!.dirty) }">
            </div>
            <div *ngIf="secondFormGroup.get('Experience') 
                  && secondFormGroup.get('Experience')!.status === 'INVALID'
                  && (secondFormGroup.get('Experience')!.touched || secondFormGroup.get('Experience')!.dirty)"
                  style="width: 100%; font-size: 10px; color: red;">
              <span *ngIf="showErrors(secondFormGroup.get('Experience')!.errors) === 'pattern'">this field must be digits since 0 to 19</span>
              <span *ngIf="showErrors(secondFormGroup.get('Experience')!.errors) === 'required'">this field is required</span>
            </div>
            <div class="inner-input cv-file" [ngClass]="{ 'error': secondFormGroup.get('cvFile') 
                                                                    && secondFormGroup.get('cvFile')!.status === 'INVALID'
                                                                    && (secondFormGroup.get('cvFile')!.touched || secondFormGroup.get('cvFile')!.dirty) }">
              <button type="button"
                      mat-button
                      (click)="fileInput.click()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 16H7C4.79086 16 3 14.2091 3 12V12C3 9.79086 4.79086 8 7 8H10" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 12H8" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 16H17C19.2091 16 21 14.2091 21 12V12C21 9.79086 19.2091 8 17 8H14" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="inner-btn-text">{{ showFilenames() }}</span>
              </button>
              <input #fileInput hidden (change)="onFileSelected($event.target)" type="file" id="file" formControlName="cvFile"
                    accept="application/msword, application/pdf, application/vnd.oasis.opendocument.text, application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple>
              <div class="remove-file" (click)="removeFiles()" *ngIf="cvFilenames.length > 0">
                <fa-icon [icon]="faTimes"></fa-icon>
                <span> Remove</span>
              </div>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next"
                      [disabled]="secondFormGroup.status === 'INVALID' || choosedOtherSkills.length === 0 || choosedSkills.length === 0 ">
                      Next  &#10142;
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="therdFormGroup" [completed]="therdFormGroup.status === 'VALID'">
          <form [formGroup]="therdFormGroup">
            <ng-template matStepLabel>Step 3</ng-template>

            <div class="heading-text">
              <h2>English test:</h2>
            </div>
            <div class="instruction">
              Instruction:
            </div>
            <div class="instruction-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae nam repellat eius, magni nostrum quod voluptatum! 
              Adipisci maiores distinctio cupiditate a perspiciatis. Quis aspernatur, veritatis laboriosam fugiat consequuntur rerum 
              illum qui a eaque voluptatum odio quae excepturi incidunt ad!
            </div>
            <div class="start-test-link">
              <a >Start test here</a>
            </div>
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-6 first">
                <label for="listenResults">Listening Test Results</label>
                <div class="inner-input" style="padding: 10px;" [ngClass]="{ 'error': therdFormGroup.get('EnglishListeningTest') 
                                                                                      && therdFormGroup.get('EnglishListeningTest')!.status === 'INVALID'
                                                                                      && (therdFormGroup.get('EnglishListeningTest')!.touched || therdFormGroup.get('EnglishListeningTest')!.dirty) }">
                  <mat-select panelClass="panel" 
                              formControlName="EnglishListeningTest"
                              empty="false"
                              placeholder="Listen Results"
                              [ngClass]="{ 'input-error': therdFormGroup.get('EnglishListeningTest') 
                                                          && therdFormGroup.get('EnglishListeningTest')!.status === 'INVALID'
                                                          && (therdFormGroup.get('EnglishListeningTest')!.touched || therdFormGroup.get('EnglishListeningTest')!.dirty) }">
                    <mat-option [value]="option" *ngFor="let option of lenguageLevels">{{ option }}</mat-option>
                  </mat-select>
                  <mat-icon matSuffix></mat-icon>
                </div>
              </div>
              <div class="col-6 second">
                <label for="grammarResults">Grammar Test Results</label>
              <div class="inner-input" style="padding: 10px;" [ngClass]="{ 'error': therdFormGroup.get('EnglishGrammarTest') 
                                                                                    && therdFormGroup.get('EnglishGrammarTest')!.status === 'INVALID'
                                                                                    && (therdFormGroup.get('EnglishGrammarTest')!.touched || therdFormGroup.get('EnglishGrammarTest')!.dirty) }">
                <mat-select panelClass="panel"
                            formControlName="EnglishGrammarTest"
                            empty="false"
                            placeholder="Grammar Results"
                            [ngClass]="{ 'input-error': therdFormGroup.get('EnglishGrammarTest') 
                                                        && therdFormGroup.get('EnglishGrammarTest')!.status === 'INVALID'
                                                        && (therdFormGroup.get('EnglishGrammarTest')!.touched || therdFormGroup.get('EnglishGrammarTest')!.dirty) }">
                  <mat-option [value]="option" *ngFor="let option of lenguageLevels">{{ option }}</mat-option>
                </mat-select>
                <mat-icon matSuffix></mat-icon>
              </div>
              </div>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next uppercase"
                      (click)="compliteRegistration()"
                      [disabled]="firstFormGroup.status === 'INVALID' 
                                  || secondFormGroup.status === 'INVALID' 
                                  || therdFormGroup.status === 'INVALID'
                                  || choosedOtherSkills.length === 0
                                  || choosedSkills.length === 0" >
                      Register
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div class="reg-container" *ngIf="registrationHaveBeenCompleted">
    <div class="complite-img">
      <img src="../../../../assets/thank-you.png" alt="thank you">
    </div>
    <div class="go-home-button">
      <button mat-button class="elipse-button uppercase" [routerLink]="['/']">Go to homepage</button>
    </div>
  </div>
</div>
