<div class="reg-wrapper">
  <div class="reg-container" *ngIf="!registrationHaveBeenCompleted">
    <div class="heading">
      <h2>Registration</h2>
    </div>
    <div class="stepper-conaiter" *ngIf="isFormsLoaded">
      <mat-stepper labelPosition="bottom" [disableRipple]="true" #stepper [linear]="true">
        <mat-step [stepControl]="firstFormGroup" [completed]="firstFormGroup.status === 'VALID'">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Step 1</ng-template>
            <label for="name">Name</label>
            <div class="inner-input" 
                 [ngClass]="{ 'error': firstFormGroup.get('name') 
                                       && firstFormGroup.get('name')!.status === 'INVALID'
                                       && firstFormGroup.get('name')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                  id="name"
                  [ngClass]="{ 'input-error': firstFormGroup.get('name') 
                                              && firstFormGroup.get('name')!.status === 'INVALID'
                                              && firstFormGroup.get('name')!.dirty }"
                  required>
            </div>
            <label for="surname">Surname</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('surname') 
                                                           && firstFormGroup.get('surname')!.status === 'INVALID'
                                                           && firstFormGroup.get('surname')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="surname"
                  placeholder="Surname"
                  id="surname"
                  [ngClass]="{ 'input-error': firstFormGroup.get('surname') 
                                              && firstFormGroup.get('surname')!.status === 'INVALID'
                                              && firstFormGroup.get('surname')!.dirty }"
                  required>
            </div>
            <label for="email">Email</label>
            <div class="inner-input"  [ngClass]="{ 'error': firstFormGroup.get('email') 
                                                            && firstFormGroup.get('email')!.status === 'INVALID'
                                                            && firstFormGroup.get('email')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="email"
                  placeholder="Email"
                  id="email"
                  [ngClass]="{ 'input-error': firstFormGroup.get('email') 
                                              && firstFormGroup.get('email')!.status === 'INVALID'
                                              && firstFormGroup.get('email')!.dirty }"
                  required>
            </div>
            <label for="location">Location</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('location') 
                                                            && firstFormGroup.get('location')!.status === 'INVALID'
                                                            && firstFormGroup.get('location')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="location"
                  placeholder="Location"
                  id="location"
                  [ngClass]="{ 'input-error': firstFormGroup.get('location') 
                                        && firstFormGroup.get('location')!.status === 'INVALID'
                                        && firstFormGroup.get('location')!.dirty }"
                  required>
            </div>
            <label for="position">Position</label>
            <div class="inner-input" [ngClass]="{ 'error': firstFormGroup.get('position') 
                                                            && firstFormGroup.get('position')!.status === 'INVALID'
                                                            && firstFormGroup.get('position')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="position"
                  placeholder="Position"
                  id="position"
                  [ngClass]="{ 'input-error': firstFormGroup.get('position') 
                                        && firstFormGroup.get('position')!.status === 'INVALID'
                                        && firstFormGroup.get('position')!.dirty }"
                  required
                  [matAutocomplete]="autoPositions">
            </div>
            <mat-autocomplete #autoPositions="matAutocomplete" [hidden]="!positionsList">
              <mat-option *ngFor="let position of filteredPositions | async" [value]="position.name">
                {{position.name}}
              </mat-option>
            </mat-autocomplete>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="shortDescription">Short Description</label>
            <div class="inner-input inner-input_textarea" [ngClass]="{ 'error': firstFormGroup.get('text') 
                                                                                && firstFormGroup.get('text')!.status === 'INVALID'
                                                                                && firstFormGroup.get('text')!.dirty }">
              <textarea matInput
                        formControlName="text"
                        placeholder="Short Description"
                        id="shortDescription"
                        [ngClass]="{ 'input-error': firstFormGroup.get('text') 
                                                    && firstFormGroup.get('text')!.status === 'INVALID'
                                                    && firstFormGroup.get('text')!.dirty }"
                        rows="4">
              </textarea>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <div class="checkbox-container">
              <mat-checkbox [formControl]="loremOne" id="first">
                <label for="first" class="seniority-item-label">Lorem</label>
              </mat-checkbox>
              <mat-checkbox [formControl]="loremTwo" id="second">
                <label for="second" class="seniority-item-label">Ipsum</label>
              </mat-checkbox>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next"
                      [disabled]="firstFormGroup.status === 'INVALID'">
                      Next  &#10142;
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [completed]="secondFormGroup.status === 'VALID'">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Step 2</ng-template>
            <label for="skill" style="width: 100%;"> <span style="padding-bottom: 10px;">Add skill</span></label>
            <div class="inner-input skills-container" [ngClass]="{ 'error': secondFormGroup.get('skill') 
                                                                            && secondFormGroup.get('skill')!.status === 'INVALID'
                                                                            && secondFormGroup.get('skill')!.dirty }">
              <ul class="skills-list-inner" *ngIf="choosedSkills.length" [ngStyle]="{ 'width': ulWidth() }">
                <li class="skills-item-inner" *ngFor="let skill of choosedSkills">
                  <span>{{ skill.name }}</span>
                  <span (click)="removeSkill(skill.id, 'skill')"><fa-icon [icon]="faTimes"></fa-icon></span>
                </li>
              </ul>
              <input matInput
                  type="text"
                  formControlName="skill"
                  placeholder="{{ !choosedSkills.length ? 'Add skill' : '' }}"
                  [ngStyle]="{ 'padding': choosedSkills.length > 0 ? '5px': '10px' }"
                  [matAutocomplete]="autoSkills"
                  id="skill"
                  [ngClass]="{ 'input-error': secondFormGroup.get('skill') 
                                              && secondFormGroup.get('skill')!.status === 'INVALID'
                                              && secondFormGroup.get('skill')!.dirty }"
                  (keypress)="hendleAddSkill($event, 'skill')">
              <mat-autocomplete #autoSkills="matAutocomplete" (optionSelected)="addSkillSelected($event)">
                <mat-option *ngFor="let skill of filteredOptions | async" [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="otherSkills">Other Skills</label>
            <div class="inner-input inner-input_textarea" [ngClass]="{ 'error': secondFormGroup.get('otherSkills') 
                                                                                && secondFormGroup.get('otherSkills')!.status === 'INVALID'
                                                                                && secondFormGroup.get('otherSkills')!.dirty }">
              <ul class="skills-list-inner" *ngIf="choosedOtherSkills.length" [ngStyle]="{ 'width': ulWidth() }">
                <li class="skills-item-inner" *ngFor="let skill of choosedOtherSkills">
                  <span>{{ skill.name }}</span>
                  <span (click)="removeSkill(skill.id, 'otherSkills')"><fa-icon [icon]="faTimes"></fa-icon></span>
                </li>
              </ul>
              <textarea matInput
                        formControlName="otherSkills"
                        placeholder="{{ !choosedOtherSkills.length ? 'Other Skills' : '' }}"
                        [matAutocomplete]="autoOtherSkills"
                        [ngStyle]="{ 'padding': choosedOtherSkills.length > 0 ? '5px': '10px' }"
                        id="otherSkills"
                        [ngClass]="{ 'input-error': secondFormGroup.get('otherSkills') 
                                                    && secondFormGroup.get('otherSkills')!.status === 'INVALID'
                                                    && secondFormGroup.get('otherSkills')!.dirty }"
                        (keypress)="hendleAddSkill($event, 'otherSkills')"
                        rows="4">
              </textarea>
              <mat-autocomplete #autoOtherSkills="matAutocomplete" (optionSelected)="otherSkillsSelected($event, secondFormGroup.get('otherSkills')!.value)">
                <mat-option *ngFor="let skill of filteredOtherOptions | async" [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="under-text">
              <sup>*</sup>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dicta nesciunt laborum inventore maxime hic obcaecati maiores saepe, deleniti velit praesentium ea provident possimus enim?
              </span>
            </div>
            <label for="exYears">Experience in years</label>
            <div class="inner-input" [ngClass]="{ 'error': secondFormGroup.get('exYears') 
                                                            && secondFormGroup.get('exYears')!.status === 'INVALID'
                                                            && secondFormGroup.get('exYears')!.dirty }">
              <input matInput
                  type="text"
                  formControlName="exYears"
                  placeholder="Experience in years"
                  id="exYears"
                  [ngClass]="{ 'input-error': secondFormGroup.get('exYears') 
                                              && secondFormGroup.get('exYears')!.status === 'INVALID'
                                              && secondFormGroup.get('exYears')!.dirty }">
            </div>
            <div class="inner-input cv-file" [ngClass]="{ 'error': secondFormGroup.get('cvFile') 
                                                                    && secondFormGroup.get('cvFile')!.status === 'INVALID'
                                                                    && secondFormGroup.get('cvFile')!.dirty }">
              <button type="button"
                      mat-button
                      (click)="fileInput.click()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 16H7C4.79086 16 3 14.2091 3 12V12C3 9.79086 4.79086 8 7 8H10" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 12H8" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14 16H17C19.2091 16 21 14.2091 21 12V12C21 9.79086 19.2091 8 17 8H14" stroke="#95B0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="inner-btn-text">{{ cvFilename }}</span>
              </button>
              <input #fileInput hidden (change)="onFileSelected($event.target)" type="file" id="file" formControlName="cvFile"
                    accept="application/xml, application/pdf, text/txt">
              <div class="remove-file" (click)="removeFiles()" *ngIf="cvFilename">
                <fa-icon [icon]="faTimes"></fa-icon>
                <span> Remove</span>
              </div>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next"
                      [disabled]="secondFormGroup.status === 'INVALID' || choosedOtherSkills.length === 0 || choosedSkills.length === 0 ">
                      Next  &#10142;
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="therdFormGroup" [completed]="therdFormGroup.status === 'VALID'">
          <form [formGroup]="therdFormGroup">
            <ng-template matStepLabel>Step 3</ng-template>

            <div class="heading-text">
              <h2>English test:</h2>
            </div>
            <div class="instruction">
              Instruction:
            </div>
            <div class="instruction-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae nam repellat eius, magni nostrum quod voluptatum! 
              Adipisci maiores distinctio cupiditate a perspiciatis. Quis aspernatur, veritatis laboriosam fugiat consequuntur rerum 
              illum qui a eaque voluptatum odio quae excepturi incidunt ad!
            </div>
            <div class="start-test-link">
              <a >Start test here</a>
            </div>
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-6 first">
                <label for="listenResults">Listening Test Results</label>
                <div class="inner-input" style="padding: 10px;" [ngClass]="{ 'error': therdFormGroup.get('listenResults') 
                                                                                      && therdFormGroup.get('listenResults')!.status === 'INVALID'
                                                                                      && therdFormGroup.get('listenResults')!.dirty }">
                  <mat-select panelClass="panel" 
                              formControlName="listenResults"
                              empty="false"
                              placeholder="Listen Results"
                              [ngClass]="{ 'input-error': therdFormGroup.get('listenResults') 
                                                          && therdFormGroup.get('listenResults')!.status === 'INVALID'
                                                          && therdFormGroup.get('listenResults')!.dirty }">
                    <mat-option [value]="option" *ngFor="let option of lenguageLevels">{{ option }}</mat-option>
                  </mat-select>
                  <mat-icon matSuffix></mat-icon>
                </div>
              </div>
              <div class="col-6 second">
                <label for="grammarResults">Grammar Test Results</label>
              <div class="inner-input" style="padding: 10px;" [ngClass]="{ 'error': therdFormGroup.get('grammarResults') 
                                                                                    && therdFormGroup.get('grammarResults')!.status === 'INVALID'
                                                                                    && therdFormGroup.get('grammarResults')!.dirty }">
                <mat-select panelClass="panel"
                            formControlName="grammarResults"
                            empty="false"
                            placeholder="Grammar Results"
                            [ngClass]="{ 'input-error': therdFormGroup.get('grammarResults') 
                                                        && therdFormGroup.get('grammarResults')!.status === 'INVALID'
                                                        && therdFormGroup.get('grammarResults')!.dirty }">
                  <mat-option [value]="option" *ngFor="let option of lenguageLevels">{{ option }}</mat-option>
                </mat-select>
                <mat-icon matSuffix></mat-icon>
              </div>
              </div>
            </div>
            <div class="next-btn-container">
              <button mat-button
                      matStepperNext
                      class="elipse-button elipse-button_next uppercase"
                      (click)="compliteRegistration()"
                      [disabled]="firstFormGroup.status === 'INVALID' 
                                  || secondFormGroup.status === 'INVALID' 
                                  || therdFormGroup.status === 'INVALID'
                                  || choosedOtherSkills.length === 0
                                  || choosedSkills.length === 0" >
                      Register
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div class="reg-container" *ngIf="registrationHaveBeenCompleted">
    <div class="complite-img">
      <img src="../../../../assets/thank-you.png" alt="thank you">
    </div>
    <div class="go-home-button">
      <button mat-button class="elipse-button uppercase" [routerLink]="['/']">Go to homepage</button>
    </div>
  </div>
</div>
