
<div class="partners-wrapper">
  <div class="partners-container">
    <div class="partners">
      <div class="partners-item">
        <img src="../../../assets/daxx.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/epam.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/sigma.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/SoftServe.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/DataArt.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/ciklum.svg" alt="">
      </div>
      <div class="partners-item">
        <img src="../../../assets/Luxoft.svg" alt="">
      </div>
    </div>
  </div>
</div>
