$orange-logo-color: #F9785B;
$header-hover-link-color: #FBA08C;
$header-font-color: #ffffff;
$header-bg-color: #182634;
$rights-text: #95B0C9;
$skills-active-button-bg: #B4C8DC;
$skills-button-bg: #B4C8DC66;
$skills-button-color: #284057;
$dev-card-heading-color: #182634;
$skills-h5-font-color: #95B0C9;
$ad-block-bg-color: #E5F3FF;


$imageBgColor: #19406B;
$fontColorBlue: rgb(5, 62, 100);
$accentBgColor: #FF4081;
$matPrymarySelectArrow: #3F51B5;
$matWarningSelectArrow: #F44336;
$matCheckboxDisabled: #B0B0B0;
$notActive: #A8A8A8;
$matCheckboxMixedMark: #FAFAFA;
$halfTransparentWhite: #ffffffbd;
$valid: #015C10;
$link: #0036FD;
$titleColor: rgba(0, 0, 0, 0.87);
$media_ipad: 780px;
$slim_screen: 650px;
$media_medium: 600px;
$media_large: 1050px;
$media_max-content-width: 1200px;
$media-left-align-logo: 1260px;
$media_x-large: 1441px;