@import 'src/styles/variables';
@import 'src/styles/mixins';

.breadcrumb {
  background: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  a,
  span {
    color: $rights-text;
    cursor: pointer;
  }

  a:hover,
  span:hover {
    color: $found-font-color;
    text-decoration: none;
  }

  li {
    list-style: none;
    float: left;
    margin: 5px;
    color: $rights-text;
  }

  li:last-child {
    margin-right: 20px;
    color: $found-font-color;
  }

  li::after {
    content: ">";
    color: $rights-text;
  }

  li:last-child::after {
    content: "";
  }
}

.breadcrumbs-container {
  padding: 25px 0;
}
